.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    width: 1140px;
    margin: 0 auto;
}

/* banner style */
.banner {
    background-image: url("../assets/Hero-bg.png");
    background-repeat: none;
    text-align: center;
    margin-bottom: 74px;
}

.banner-img {
    height: 240px;
    width: 240px;
    margin-top: 26px;
    margin-bottom: 32px;
}

.banner-title {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    width: 1340px;
    margin: 0 auto;
    text-align: center;
}

.banner-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 1040px;
    margin: 0 auto;
    padding-top: 30px;
}

.banner-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 18px 36px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 32px;
    margin-bottom: 46px;
}

/* section-1 style */

.full-container {
    border-radius: 16px;

    background: rgba(13, 19, 33, 0.02);
    ;
}

.reason-section {

    width: 950px;
    margin: 0 auto;
    text-align: center;
}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 25px;
    padding-top: 155px;

}

.section-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 106px;

}

.reason-section-2 {
    display: flex;
    justify-content: space-between;
    width: 950px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.reason-section-different {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    width: 950px;
    margin: 0 auto;
    padding-bottom: 150px;
}

.reason-container {
    width: 500px;
    height: 219px;
}

.reason-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;

}

.reason-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.btn-primary {
    border: 1px solid rgb(13, 19, 33);
    padding: 12px 25px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    background-color: white;
}

.reason-img {
    width: 260px;
    height: 250px;
}

/* section-2 style */
.video-container {
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

/* section-3 style */

.cart-section {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.cart-container-1 {
    border-radius: 16px;
padding: 40px;
    background:rgba(255, 76, 30, 0.05);
    width: 600px;
height: 500px;
}
.cart-container-2 {
    border-radius: 16px;
padding: 40px;
    background: rgba(0, 76, 232, 0.05);
    width: 600px;
height: 500px;
}
.cart-container-3 {
    border-radius: 16px;
padding: 40px;
    background: rgba(255, 223, 0, 0.05);
    width: 600px;
height: 500px;
    
}
.cart-link{
    color: rgb(13, 19, 33);
font-size: 18px;
font-weight: 700;
line-height: 19px;
}

/* section 4 */

.support-container{
    background-image:  url("../assets/handshake.jpg");
    background-repeat: none;
    background-size: cover;
    height: 350px;
    border-radius: 16px;
    margin-top: 70px;
    text-align: center;
    padding-top: 65px;
}
.support-title{
    color: rgb(255, 255, 255);
    font-size: 32px;
font-weight: 700;
padding-bottom: 16px;
}
.support-description{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 400;
padding-bottom: 40px;
}

input[type="text"]{
    width: 548px;
    height: 24px;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    /* display: block;
    width: 100%; */
    margin-bottom: 24px;
    padding: 19px 20px;
    color: rgba(13, 19, 33, 0.4);
font-size: 16px;
font-weight: 400;
}
input[type="submit"]{
    width: 120px;
    height: 61px;
    margin-bottom: 24px;
    padding: 19px 20px;
    border-radius: 5px;
    border-style: none;
    background-color: white;
    color: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
}
